/* .features {
  margin-top: 40px
} */

.feature {
  margin: 20px;
  padding: 30px;
  width: 80%;
  /* outline: 2px solid gray; */


  border-radius: 20px;
}

.images {
  /* display:flex; */
  display: flex; 
  align-items: center;
}

.images > * {
  margin: 10px;
  box-shadow: 0 0 5px rgba(0,0,.7);
  border-radius: 10px;
}

.title {
  margin-bottom: 10px;
}

.desc {
  margin: 10px;
  font-size: 1.2em;
}