.title {
  font-size: 3em;
  margin: 5px;
}

.buttons > * {
  margin: 0 5px;
  font-size: 1.3em;
}

.description {
  margin: 10px 0 20px 0;
  font-size: 1.3em;
}
.image {
  margin: 20px;
  filter: drop-shadow(0 0 3px rgba(0,0,0,.5));
}